:root {
    --gradientPrimary: #0000cc;
    --gradientSecondary: #00002c;
    overflow: hidden;
}


@font-face {
    font-family: cyber;
    src: url(fonts/CONTF___.ttf);
    }
    
input {
    font-family: cyber;
    color:white;
    background-color: transparent;
    text-align: center;
}

body {
    overflow: hidden;
    background-image: linear-gradient(to bottom left, white, beige);
    height: 100%;
    font-family: cyber;
    margin: 0;
    color: white;

}

.container {
    background-image: linear-gradient(to bottom right, var(--gradientPrimary), var(--gradientSecondary));
    background-color: #0000cc;
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-width: 4px;
    border-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 25px grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.canv {
    position: absolute;
    margin: auto;
    box-shadow: 0 0 10px 10px black inset, 0 0 100px 2px beige;
    padding-left: 0;
    padding-right: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.controlls {
    float: left;
    position: fixed;
    width: 250px;
}

input {
    width: 4em;
}

.butt {
    text-align: center;
    color: white;
    font-weight: bold;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 0.1em;
    margin-bottom: 0.1em;
    width: 5em;
    border-radius: 0.3em;
    box-shadow: 0 0 3px black;
    user-select: none;
    /*background-image: radial-gradient(ellipse at 0 0, cyan,rgb(0, 127, 127));*/
    transition: 0.3s;
}

.butt:hover {

    box-shadow: 5px 5px 9px black;
    transition-duration: 1s;
}

.butt::after {
    opacity: 0;
    content: "👈";
    font-size: 2em;
    color: transparent;
    text-shadow: 0 0 0px white, 0 0 2px black;
    position: absolute;
    transition-duration: 0.15s;
}
.butt:hover::after {
    transition-duration: 0.25s;
    opacity: 1;

}
.butt:active::after {
    content: "👌";
}

.butt:active {
    box-shadow: 0 0 3px black inset;
    background-image: radial-gradient(ellipse at 100% 100%, cyan, rgb(0, 127, 127));
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(6em, 1fr));
    /* Create flexible columns */
    grid-gap: 0.5em;
    /* Spacing between the buttons */
    padding: 0;
}

.debout {
    display: none;
    right: 0;
    top: 0;
    font-size: large;
    position: absolute;
    width: 550px;
    font-family: monospace;
    background-image: radial-gradient(ellipse at 5% 15%, rgb(41, 41, 41), rgb(0, 0, 0));
    color: rgb(201, 255, 201);
    text-shadow: 0 0 1px lime;
    margin: -1em;
    padding: 2em;
    height: 100%;
    overflow: scroll;
}

.a_box {
    /* box-shadow: 0 0 100px 1px black inset,0 0 50px black; */
    padding: 0.5em;
}

h4 {
    margin: 3px;
}

h3 {
    text-align: center;
    margin: 3px;
}

.headerRule {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255, 255, 255, 1), rgba(0, 0, 0, 0));
    margin-top: 0;
}
/* SECTION hierarchy list style for unordered lists */
ul,#scene_hierarchy {
	list-style-type: none;
	padding-left: 6px;
}

#scene_hierarchy {
	margin: 0;
	padding: 0;
}

.caret {
	cursor: pointer;
	-webkit-user-select: none; /* Safari 3.1+ */
	-moz-user-select: none; /* Firefox 2+ */
	-ms-user-select: none; /* IE 10+ */
	user-select: none;
}

.caret::before {
	content: "\25B6";
	color: black;
	display: inline-block;
	margin-right: 6px;
}

.caret-down::before {
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Safari */
 	transform: rotate(90deg);
}

.nested {
	display: none;
}

.active {
	display: block;
}

.inspectionLabel {
    text-align: center;
    margin-top:0;
    margin-bottom:0;
}

.head_mess {
    user-select: none;
    text-shadow: 0 0 3px purple,0 0 15px violet;
    text-align: center;
    font-size: 10em;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.head_hidden {
    visibility: hidden;
    opacity: 0;
    transition: opacity 2.5s ease;
}

.head_bounce {
    visibility: visible;
    opacity: 1;
    animation: bounceIn 0.5s ease;
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    60% {
        opacity: 1;
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


.ui_stick {
    user-select: none;
    position:absolute;
    height: 15em;
    width: 15em;
    border-radius: 8em;
    background-color: rgba(0, 0, 0, 0.267);
    box-shadow: 0 0 50px red inset;
    text-align: center;
    bottom:50px;
    left:50px;
    
} 

.ui_boost {
    user-select: none;
    position:absolute;
    height: 15em;
    width: 15em;
    border-radius: 8em;
    background-color: rgba(0, 0, 0, 0.267);
    box-shadow: 0 0 50px red inset;
    text-align: center;
    bottom:50px;
    right: 50px;

} 
